body {
  padding-bottom: 10em;
  overflow-x: hidden;
}

html {
  background-image: url(images/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
#title {
  text-align: center;
  font-size: 5em;
  font-weight: 300;
  color: rgb(109, 109, 230);
}

#main-container {
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: 2em;
  text-align: center;
  margin: auto;
  width: 50em;
  min-height: 40em;
  background-color: white;
  border-radius: 2em;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}

#input-container {
  border: 2px solid rgb(128, 146, 223);
  width: inherit;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 2em;
  margin: auto;
}
#button {
  border-bottom: 2px solid rgb(128, 146, 223);
  border-right: 2px solid rgb(128, 146, 223);
  border-left: 2px solid rgb(128, 146, 223);
  border-top: 0;
  width: inherit;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  color: rgb(86, 86, 230);

  margin: auto;
  font-weight: 400;
  font-size: 1.4em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#task-container {
  width: 40em;
}

ul {
  width: inherit;
  padding-left: 0;
  margin: auto;
}
ul li {
  position: relative;
  font-weight: 400;
  list-style-type: none;
  margin: auto;
  font-size: 1.4em;
  background-color: rgb(246, 246, 248);
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  color: rgb(86, 86, 230);
  border-bottom: 2px solid rgb(128, 146, 223);
  border-right: 2px solid rgb(128, 146, 223);
  border-left: 2px solid rgb(128, 146, 223);
  word-wrap: break-word;
}

ul li.checked {
  color: rgb(171, 171, 231);
  text-decoration: line-through;
}
ul li.checked #checkbox {
  display: inline-block;
}
ul li.checked #circle {
  display: none;
}
ul li.checked #cross {
  display: inline-block;
}
#circle {
  color: rgb(195, 195, 236);
  margin-right: 0.5em;
  display: inline-block;
}

#cross {
  position: absolute;
  right: 18px;
  color: rgb(195, 195, 236);
  cursor: pointer;
  margin-top: 0.2em;
}

ul li.removed {
  display: none;
}

#checkbox {
  color: rgb(195, 195, 236);
  margin-right: 0.5em;
  display: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 100;
  color: rgb(95, 94, 94);
  font-size: 1em;
  font-style: italic;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgb(95, 94, 94);
  font-size: 1em;
  font-style: italic;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgb(95, 94, 94);
  font-size: 1em;
  font-style: italic;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgb(95, 94, 94);
  font-size: 1em;
  font-style: italic;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input[type='text'] {
  font-weight: 200;
  font-size: 1.4em;
  color: rgb(86, 86, 230);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media screen and (min-width: 812px) and (max-width: 812px) {
  #task-container {
    width: 92%;
  }
  #main-container {
    width: 90%;
  }
  input[type='text'] {
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1025px) {
  #task-container {
    width: 90%;
  }
  #main-container {
    width: 90%;
  }
  ul li {
    font-weight: 400;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  ul li {
    font-weight: 400;
  }
}
@media screen and (min-width: 668px) and (max-width: 768px) {
  #main-container {
    max-width: 95%;
    padding-top: 2.5em;
  }
  #input-container {
    padding-left: 1em;
  }
  #task-container {
    width: 90%;
  }

  #title {
    font-size: 4em;
  }
  ul li {
    font-size: 1.4em;
    font-weight: 400;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 1em;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 1em;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 1em;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 1em;
  }
  input[type='text'] {
    font-size: 1.4em;
    font-weight: 400;
  }
}

@media screen and (min-width: 321px) and (max-width: 667px) {
  #main-container {
    max-width: 100%;
    padding-top: 1.9em;
  }
  #input-container {
    padding-left: 0.5em;
  }
  #task-container {
    width: 90%;
  }

  #title {
    font-size: 3em;
  }
  ul li {
    font-size: 1.2em;
    font-weight: 400;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 0.9em;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 0.9em;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 0.9em;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 0.9em;
  }
  input[type='text'] {
    font-size: 1.2em;
    font-weight: 400;
  }
}

@media screen and (max-width: 320px) {
  #main-container {
    max-width: 100%;
    padding-top: 1.9em;
    min-height: 30em;
    border-radius: 0;
  }
  #input-container {
    padding-left: 0.5em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }
  #task-container {
    width: 90%;
  }

  #title {
    font-size: 3em;
  }
  ul li {
    font-size: 1.1em;
    font-weight: 400;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 0.7em;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 0.7em;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 0.7em;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 0.7em;
  }
  input[type='text'] {
    font-size: 1.1em;
    font-weight: 400;
  }
}
